@page
@model OAuth.AuthorizationServer.Pages.Consent

@{
    Layout = null;
}

Consent

<form method="post">
    <input type="submit" name="Grant" value="Grant" />
    <input type="submit" name="Deny" value="Deny" />
</form>