@page
@model OAuth.AuthorizationServer.Pages.Consent

@*Please do not forget to add tag helper*@
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    Layout = null;
}

Consent

<form method="post">
    @foreach (var parameter in @Model.OAuthParameters)
    {
        <input type="hidden" name="@parameter.Key" value="@parameter.Value"/>
    }
    <input type="submit" value="Grant" asp-page-handler="Grant"/>
    <input type="submit" value="Deny" asp-page-handler="Deny"/>
</form>